<div class="panel panel-default">
  <div class="panel-heading">Editar veículo</div>
  <div class="panel-body">
    <form role="form" ng-submit="updateVeiculo(veiculo)">
      <div class="form-group">
        <label for="veiculo.proprietario.nmProprietario">Nome do proprietário</label>
        <input type="text" id="veiculo.proprietario.nome" ng-model="veiculo.proprietario.nome" class="form-control" />
      </div>

      <div class="form-group">
        <label for="veiculo.proprietario.nuCnh">CNH do proprietário</label>
        <input type="text" id="veiculo.proprietario.cnh" ng-model="veiculo.proprietario.cnh" class="form-control" />
      </div>

      <div class="form-group">
        <label for="veiculo.nuPlaca">Placa do veículo</label>
        <input type="text" id="veiculo.placa" ng-model="veiculo.placa" class="form-control" />
      </div>

      <div class="form-group">
        <label for="veiculo.renavam">Renavam do veículo</label>
        <input type="text" id="veiculo.renavam" ng-model="veiculo.renavam" class="form-control" />
      </div>

      <p class="pull-right">
        <button type="submit" class="btn-sm btn btn-primary">Salvar</button>
        <a class="btn-sm btn btn-default" href="#/veiculos">Voltar</a>
      </p>
    </form>
  </div>
</div>
