<div class="form-group">
  <label for="veiculo.proprietario.nmProprietario">Nome do proprietário</label>
  <input type="text" id="veiculo.proprietario.nmProprietario" ng-model="veiculo.proprietario.nmProprietario" class="form-control" />
</div>

<div class="form-group">
  <label for="veiculo.proprietario.nuCnh">CNH do proprietário</label>
  <input type="text" id="veiculo.proprietario.nuCnh" ng-model="veiculo.proprietario.nuCnh" class="form-control" />
</div>

<div class="form-group">
  <label for="veiculo.nuPlaca">Placa do veículo</label>
  <input type="text" id="veiculo.nuPlaca" ng-model="veiculo.nuPlaca" class="form-control" />
</div>

<div class="form-group">
  <label for="veiculo.nuRenavam">Renavam do veículo</label>
  <input type="text" id="veiculo.nuRenavam" ng-model="veiculo.nuRenavam" class="form-control" />
</div>
<p class="pull-right">
  <button type="submit" class="btn-sm btn btn-primary">Salvar</button>
  <button type="button" class="btn-sm btn btn-default" ng-click="voltarVeiculos()">Voltar</button>
</p>
